@model Scheduler_Project.Models.ViewModels.ShowCategory

@{
    ViewBag.Title = "Details";
}

<h2>Category @Model.Category.CategoryName</h2>
<span style="background-color:@Html.DisplayFor(model => model.Category.CategoryColor); border-radius:50%; display:block; content:''; height:30px; width:30px;"></span>

<div>
    <h4>Project Details</h4>
    <p>
        <a href="/Project/Create" class="button btn btn-success">Add A Project</a>
    </p>
    <hr />
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
            </tr>
        </thead>
        @foreach (var project in Model.CategoryProjects)
        {

            <tbody>
                <tr>
                    <td>
                        @Html.ActionLink(project.ProjectName, "Details", "Project", new { id = project.ProjectID }, new { })
                    </td>
                </tr>
            </tbody>

        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>
