body {
}
.header-display {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #faa307;
}

.nav-bar {
    background-color: #f4a261;
    color: #9d9d9d;
}
    .nav-bar a {
        color: #fff;
    }
        .nav-bar a:hover {
            background-color: transparent;
            color: #463f3a;
        }
    .nav-bar li a {
        color: #fff;
    }
        .nav-bar li a:hover {
            background-color: transparent;
            color: #463f3a;
        }
        .icon-s{
            color: #fff;
            margin-top: 12px; 
        }
.text-detail {
    color: #4d194d;
}
    .text-detail:hover {
        color: #4d194d;
    }
.text-alert {
    color: #d00000;
}

    .text-alert:hover {
        color: #d00000;
    }
.form-space {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    padding-bottom: 10px;
}
    .form-space:focus {
        border-color: #f9844a;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(249, 132, 74, 0.6);
    }

.form-space-bg {
    display: block;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    padding-bottom: 10px;
    white-space: pre-wrap;
}
.form-space-bg:focus {
    border-color: #f9844a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(249, 132, 74, 0.6);
}
.box-color {
    content: "";
    display: block;
    border: thick solid red;
    background-color: transparent;
    height: 10px;
    width: 10px;
}
.sched-back {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-image: url(../Content/images/ab045c540e838496d5e77f82892bed14.jpg);
}
.move-right{
    float:right;
}