:root {
    /* Colors */
    /*Navigation Bar*/
    --tangyBlue: #417C91;
    /*Menu & Expirience Bar Colours*/
    --selectedBlue: #11151C;
    --yellowGreenCrayola: #6B8D3F;
    --blueMunsell: #2A758F;
    --mediumAquamarine: #40A075;
    --intenseOrange: #F48C06;
    --intenseViolet: #4D194D;
    --englishViolet: #5f2f5f;
    --pastel: #7f5539;
}
body {
    background: linear-gradient(45deg, #a5a5a5, #f7fdff);
}
/* Nav Bar */
.navigation {
    top: 0;
    background-color: #3f818e;
    border-top: thin solid white;
    border-bottom: thin solid white;
}
.nav-color{
    color: #FFFFFF;
}
.nav-color:hover {
    color: #000000;
    background-color: none;
}
/* Header Image */
.headliner {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-image: url(../Images/pexels-photo-4271259.jpeg);
    background-position: -300px -300px; /* left-right; up-down; */
    border-radius: 5px;
    border: thin solid white;
}
.picked {
    text-align: center;
    padding: 0 50px;
    color: white;
    filter: drop-shadow(1px 6px 6px rgba(0,0,0,0.7));
}
/* Footer */
.footer {
    background-color: #3f818e;
    border-top: thin solid white;
    border-bottom: thin solid white;
}
    .footer p {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 2%;
        color: #FFFFFF;
        margin: 0;
    }

    .text-detail {
        color: #4d194d;
    }
    .text-detail:hover {
        color: #4d194d;
    }
.text-alert {
    color: #d00000;
}

    .text-alert:hover {
        color: #d00000;
    }

.bttn-create{
    border: thin solid green;
    border-radius: 30%;
    background-color: green;
}
.form-space {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    padding-bottom: 10px;
}
    .form-space:focus {
        border-color: #f9844a;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(249, 132, 74, 0.6);
    }

.form-space-bg {
    display: block;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    padding-bottom: 10px;
    white-space: pre-wrap;
}
.form-space-bg:focus {
    border-color: #f9844a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(249, 132, 74, 0.6);
}
.box-color {
    content: "";
    display: block;
    border: thick solid red;
    background-color: transparent;
    height: 10px;
    width: 10px;
}
.sched-back {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-image: url(../Content/images/ab045c540e838496d5e77f82892bed14.jpg);
}
.move-right {
    float:right;
}
.white-words{
    color: white;

}