<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>'
@{
    ViewBag.Title = "Home Page";
}

<div class="headliner">
    <h1 class="picked">Scheduler Application</h1>
    <p class="picked">This application will allow you to sort your daily projects within categories. Making life a little more organized.</p>
</div>

<div class="center-block">
    <h4>
        Summerization:
    </h4>
    <p>
        This application is designed to help the user organize their tasks/projects through time setters. You, the user will be able to create a category of your preference and make a list of projects within the set category. 
        You will be able to iput contacts and other information as you please. All data is sent to an internal database and is formed to allow the user to create, read, update and delete any or all data.
    </p>
    <br/>
    <h4>
        This project is a demonstration of the following technologies:
    </h4>
    <ul>
        <li>ASP.NET WebAPI</li>
        <li>ASP.NET MVC</li>
        <li>Entity Framework</li>
        <li>Language Integrated Query (LINQ)</li>
    </ul>
</div>