body {
}
h2 {
    text-align: center;
    color: black;
    padding-top: 20px;
}
table {
    display: table;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
}
.fixed__table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 0 20px black;
}
.fixed__table th {
    text-align: center;
    padding: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #0077b6;
}
.fixed__table th:first-child {
    border-left: 1px solid #ddd;
    border-right: 1px solid red;
}
.fixed__table th:last-child {
    border-right: 1px solid #ddd;
}
.fixed__table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
.fixed__table td:first-child {
    border-right: 1px solid red;
}
.fixed__list {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 0 20px black;
}
.fixed__list th {
    text-align: center;
    padding: 40px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #0077b6;
}
.fixed__list td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
.color__badge {
    content: "";
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 20%
}
.select__button {
    border-radius: 10px 10px 0 0;
    background: rgba(239, 239, 239, 0.8);
    color: black;
    border: thin solid #ddd;
    border-bottom: none;
    padding: 4px 8px;
}
.select__button:hover {
    background: white;
}
.select__button:active {
    background: #ddd;
}
.add__button {
    color: #fff;
    background-color: #54983a;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid white;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.add__button:hover {
    background-color: #3c6d2a;
    color: #FFFFFF;
    text-decoration: none;
}
.edit__button > a {
    text-decoration: none;
    color: #fCA311;
}
.edit__button > a > i {
    font-size: 16pt;
}
.edit__button > a:hover {
    color: #AF6D00;
}
.delete__button_circle {
    background-color: #ffffff;
    border: 2px solid #FF3E3E;
    color: #FF3E3E;
    padding: 5px 9px;
    border-radius: 21px;
}
.delete__button_circle:hover {
    border: none;
    background-color: #FF3E3E;
    color: #FFFFFF;
    text-decoration: none;
}
.delete__button {
    color: #fff;
    background-color: #FF3E3E;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid white;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.delete__button:hover {
    background-color: #bf2d2d;
    color: #FFFFFF;
    text-decoration: none;
}
.back__button {
    color: #fff;
    background-color: #2d63c1;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid white;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.back__button:hover {
    background-color: #21488c;
    color: #FFFFFF;
    text-decoration: none;
}


.convert__white {
    color: white;
}
.between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row__evenly {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    border: thin solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.row__evenly > p {
    margin: 0;
    padding: 10px;
}
.text__box {
    display: block;
    width: 100%;
    height: 34px;
    padding: 10px 13px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    padding-bottom: 10px;
}
.text__box:focus {
    outline: none;
}
.color__box {
    display: block;
    width: 50px;
    height: 31px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}